$colorTitle: #A90000;

$desktop: 1930px;
$screen: 1440px;
$tablet: 1024px;
$mobile: 800px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
